.base-design {
    position: relative;
    width: 100vmax;
    height: 100vh;
    background: radial-gradient(93.53% 261.49% at 100.87% -4.93%, #0B1120 0%, #0B1120 0%, #0B1120 31.92%, rgba(34, 31, 56, 0.9) 49%, #0B263B 71.89%, #0B1120 100%);
    backdrop-filter: blur(0px);
    color: white;
}

.logo {
    max-width: 150px;
    max-height: 200px;
}